.hola { font-family:'Franklin Gothic Medium';
    color:lightseagreen;
font-size: 20px;
}

.lilnastactico {
    width: 150px;
    height: 75px;
}

.alto {
height: 75px;
background-color: aquamarine
}

.ancho {
width: 150px;
background-color:bisque
}

.borde {
    border: solid  blue ;
}

.bordetuneado {
border: solid 10px;
border-color: violet;
}

.esquinatuneada {
    border: solid 10px;
border-color: mediumseagreen;
border-radius: 15px;
}

.imagenborde {
    border: solid 5px;
border-color: red;
border-radius: 15px;
}

.elfin {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.relleno {
    padding: 50px;
    border: solid 5px;
    background-color: rgb(184, 130, 235);
}

.rellenoderecha {
    padding-left: 50px;
    background-color: rgb(184, 130, 235) ;
    border:solid black 5px;
  
}

.rellenoarriba {
    padding-top: 50px;
    border:solid 5px;
    background-color: rgb(184, 130, 235);
}

.rellenoenunalinea{
    padding: 10px 20px 30px 40px;
    border: solid 5px;
    background-color:rgb(184, 130, 235) ;
   
   }

.textocentro {
    text-align: center;
    border:solid 5px;
    background-color: rgb(235, 130, 226);
}

.margen{
    margin: 50px;
    padding: 50px;
    border: solid 5px;
    background-color: rgb(184, 130, 235);
}

.concuerdo{
  border-radius: 0 55px 0 55px ;
  width: 200px;
  height: 200px;
    
}

.concuerdo2{
    border-radius: 55px 0 55px 0 ;
    width: 200px;
    height: 200px;
      
  }

  .concuerdo3{
    border-radius: 150px 0 0 0 ;
    width: 200px;
    height: 200px;
      
  }